Repository jvalentini/worksafe: changes, and which lefthook commands are due for each by the changed paths.
All: biome, oxlint

biome:
  run: bunx biome check --staged {staged_files}

oxlint:
  run: bunx oxlint {staged_files}

chore: close ws-qmw.7 - adjacency rule engine completed
  .beads/issues.jsonl
Due: none

feat: add passive-aggressive adjacency detection beyond exact regex patterns
  .beads/issues.jsonl
  debug-test-pa.ts
  src/lib/detector.ts
  src/lib/replacer.test.ts
Due: biome, oxlint

feat: add sarcasm opt-in setting with localStorage persistence
  .beads/issues.jsonl
  src/lib/components/SettingsPanel.vue
  src/lib/state.test.ts
  src/lib/state.ts
Due: biome, oxlint

chore: update beads database (ws-qmw.10 closed)
  .beads/issues.jsonl
Due: none

feat: implement sarcasm detection heuristics gated by opt-in toggle
  .beads/issues.jsonl
  debug-test-pa.ts
  debug-test.ts
  src/lib/detector.ts
  src/lib/dictionaries/sarcasm.ts
  src/lib/replacer.test.ts
  src/lib/replacer.ts
  src/lib/state.ts
Due: biome, oxlint

test: add performance sanity checks for very long inputs
  .beads/issues.jsonl
  src/lib/replacer.test.ts
Due: biome, oxlint

feat: add constrained fuzzy matching for profanity detection edge cases
  .beads/issues.jsonl
  src/lib/detector.test.ts
  src/lib/detector.ts
Due: biome, oxlint

fix: mark unused targetTerm parameter with underscore prefix
  src/lib/detector.ts
Due: biome, oxlint

fix: prevent false positive fuzzy matches in profanity detection
  src/lib/detector.ts
Due: biome, oxlint

Close epic ws-qmw: All offline rewriting tasks complete
  .beads/issues.jsonl
Due: none

feat: improve UI flow and use friendlier replacement text
  debug-test.ts
  src/lib/components/App.vue
  src/lib/components/SettingsPanel.vue
  src/lib/components/TextInput.vue
  src/lib/detector.test.ts
  src/lib/detector.ts
  src/lib/dictionaries/insults.ts
  src/lib/dictionaries/profanity.ts
  src/lib/replacer.test.ts
Due: biome, oxlint

feat: redesign settings as compact right sidebar
  src/lib/components/App.vue
  src/lib/components/SettingsPanel.vue
Due: none

fix: address PR review feedback
  README.md
  src/lib/detector.ts
  src/lib/state.ts
Due: biome, oxlint

docs: add changelog entry for PR #8
  CHANGELOG.md
Due: none

Add table-driven test harness for dictionary-mode transformations
  .beads/.gitignore
  .beads/README.md
  .beads/config.yaml
  .beads/issues.jsonl
  .beads/metadata.json
  src/lib/replacer.test.ts
Due: biome, oxlint

feat(M3): implement token-based adjacency rule engine
  .beads/issues.jsonl
  src/lib/detector.ts
  src/lib/replacer.test.ts
Due: biome, oxlint

Fix M2: collapse consecutive negative sentences
  .beads/issues.jsonl
  src/lib/detector.test.ts
  src/lib/detector.ts
  src/lib/replacer.test.ts
Due: biome, oxlint

feat: protect URLs, @handles, and #channels from modifications
  .beads/issues.jsonl
  src/lib/detector.ts
  src/lib/replacer.test.ts
Due: biome, oxlint

Fix M2: collapse consecutive negative sentences
  .gitattributes
  .gitignore
  CLAUDE.md
  IMPLEMENTATION_PLAN.md
  ROADMAP.md
  debug-test.ts
  src/lib/components/App.vue
  src/lib/components/PostItNote.vue
  src/lib/components/SettingsPanel.vue
  src/lib/detector.test.ts
  src/lib/detector.ts
  src/lib/replacer.ts
Due: biome, oxlint

feat(detector): implement sentence segmentation helper
  .beads/issues.jsonl
  src/lib/detector.test.ts
  src/lib/detector.ts
Due: biome, oxlint

Close test issue ws-4w8
  .beads/issues.jsonl
Due: none

fix: rename Lundberg to Lumbergh throughout codebase
  2026-01-04-11-23-46-worksafe-banner-draft.png
  src/lib/components/ProcessingBadge.vue
  src/lib/components/SettingsPanel.vue
  src/public/lumbergh.png
Due: none

release: version 2.0.0
  CHANGELOG.md
  package.json
Due: biome

Path conditions:
  biome: any of: *.{js,ts,jsx,tsx,json,css}
  oxlint: any of: *.{js,ts,jsx,tsx}
