Repository jvalentini/worksafe: changes, and which lefthook commands are due for each by the changed paths.
All: biome, oxlint

biome:
  run: bunx biome check --staged {staged_files}

oxlint:
  run: bunx oxlint {staged_files}

Reduce false positives for assess* terms
  src/lib/detector.test.ts
  src/lib/detector.ts
Due: biome, oxlint

Add CI workflow
  .github/workflows/ci.yml
Due: none

Serve app with Bun and build via bun build
  README.md
  package.json
  src/server.ts
Due: biome, oxlint

Stop speech recognition loops on network errors
  src/lib/speech.ts
  src/main.ts
Due: biome, oxlint

Add dev e2e test and export server start
  src/e2e/happy-path.test.ts
  src/server.ts
Due: biome, oxlint

Temporarily remove CI workflow for push
  .github/workflows/ci.yml
Due: none

Restore CI workflow
  .github/workflows/ci.yml
Due: none

docs: add comprehensive persuasion phrases guide
  persuasion-phrases.md
Due: none

fix: correct CI workflow YAML formatting
  .github/workflows/ci.yml
Due: none

Expand test coverage with prod server and integration tests
  src/e2e/happy-path.test.ts
  src/lib/replacer.test.ts
Due: biome, oxlint

Split CI into parallel checks and e2e jobs
  .github/workflows/ci.yml
Due: none

Add persuasion phrase replacements
  src/lib/detector.test.ts
  src/lib/detector.ts
  src/lib/dictionaries/passive-aggressive.ts
  src/lib/dictionaries/persuasion.ts
  src/lib/replacer.test.ts
  src/lib/replacer.ts
Due: biome, oxlint

fix: clean up linting issues in Vue components
  bun.lock
  package.json
  src/App.vue
  src/index.html
  src/main.ts
  src/shims-vue.d.ts
  src/styles/corporate-dystopia.css
  vite.config.ts
Due: biome, oxlint

Add Cloudflare Pages SPA fallback support
  package.json
  src/_redirects
Due: biome

Fix Vite and Svelte configuration issues
  build.ts
  bun.lock
  package.json
  src/e2e/happy-path.test.ts
  src/index.html
  src/lib/components/App.svelte
  src/lib/components/CopyButton.svelte
  src/lib/components/Header.svelte
  src/lib/components/Output.svelte
  src/lib/components/Settings.svelte
  src/lib/components/Tab.svelte
  src/lib/components/TextInput.svelte
  src/lib/components/VoiceInput.svelte
  src/lib/state.svelte.ts
  src/main.ts
  src/server.ts
  src/styles/main.css
  src/svelte-loader.ts
  svelte.config.js
  tsconfig.json
  vite.config.ts
Due: biome, oxlint

fix: improve speech recognition error handling and MDN documentation
  bun.lock
  src/lib/speech.ts
Due: biome, oxlint

Fix server to support dev and prod modes for e2e tests
  src/lib/speech.ts
  src/lib/state.svelte.ts
  src/server.ts
Due: biome, oxlint

Fix dev server to use Bun's HTML import for asset transformation
  src/server.ts
Due: biome, oxlint

Use static HTML import for Bun routes in dev mode
  src/server.ts
Due: biome, oxlint

fix: resolve linting errors and unused imports
  src/lib/components/App.svelte
  src/lib/components/CopyButton.svelte
  src/lib/components/Header.svelte
  src/lib/components/Output.svelte
  src/lib/components/Settings.svelte
  src/lib/components/Tab.svelte
  src/lib/components/TextInput.svelte
  src/lib/speech.ts
  src/lib/state.svelte.ts
  src/styles/main.css
Due: biome, oxlint

fix: clean up App component imports and function naming
  src/lib/components/App.svelte
  src/lib/components/CopyButton.svelte
  src/lib/components/Header.svelte
  src/lib/components/Output.svelte
  src/lib/components/Tab.svelte
Due: none

refactor: migrate from Svelte 5 to Vue 3 with Office Space theme
  bun.lock
  package.json
  src/lib/components/App.svelte
  src/lib/components/App.vue
  src/lib/components/CopyButton.svelte
  src/lib/components/FlairBadge.vue
  src/lib/components/Header.svelte
  src/lib/components/Output.svelte
  src/lib/components/OutputPanel.vue
  src/lib/components/PostItNote.vue
  src/lib/components/Settings.svelte
  src/lib/components/SettingsPanel.vue
  src/lib/components/TPSHeader.vue
  src/lib/components/Tab.svelte
  src/lib/components/TextInput.svelte
  src/lib/components/TextInput.vue
  src/lib/components/VoiceInput.svelte
  src/lib/components/VoiceInput.vue
  src/lib/state.svelte.ts
  src/lib/state.ts
  src/main.ts
  src/styles/main.css
  src/vite-env.d.ts
  svelte.config.js
  vite.config.ts
Due: biome, oxlint

Fix Vue component resolution errors by adding missing imports
  src/lib/components/App.vue
  src/lib/components/FlairBadge.vue
  src/lib/components/OutputPanel.vue
  src/lib/components/PostItNote.vue
  src/lib/components/SettingsPanel.vue
  src/lib/components/TPSHeader.vue
  src/lib/components/TextInput.vue
  src/lib/components/VoiceInput.vue
Due: none

Redesign UI with Office Space theme - post-it notes and flair badges
  OFFICE_SPACE_DESIGN.md
  src/lib/components/App.vue
  src/lib/components/FlairBadge.vue
  src/lib/components/OutputPanel.vue
  src/lib/components/SettingsPanel.vue
  src/lib/components/TPSHeader.vue
  src/lib/components/TextInput.vue
  src/lib/components/VoiceInput.vue
Due: none

Add ProcessingBadge component to App.vue and update flair badge styles
  src/lib/components/App.vue
  src/lib/components/FlairBadge.vue
  src/lib/components/ProcessingBadge.vue
  src/lib/components/SettingsPanel.vue
  src/lib/components/TPSHeader.vue
Due: none

Refactor input components to use tab-switcher for mode selection
  src/lib/components/App.vue
  src/lib/components/OutputPanel.vue
  src/lib/components/ProcessingBadge.vue
  src/lib/components/TPSHeader.vue
  src/lib/components/TextInput.vue
  src/lib/components/VoiceInput.vue
  src/public/lundberg.png
Due: none

Refactor SettingsPanel to replace starburst background with Lumbergh photo
  src/lib/components/SettingsPanel.vue
Due: none

Refactor components to enhance UI and replace SVG with image assets
  src/lib/components/App.vue
  src/lib/components/SettingsPanel.vue
  src/lib/components/TPSHeader.vue
  src/lib/components/TextInput.vue
  src/lib/components/VoiceInput.vue
  src/public/stapler.png
Due: none

Add oxlint config and fix linter warnings
  .oxlintrc.json
  package.json
  src/lib/components/App.vue
  src/lib/components/FlairBadge.vue
  src/lib/components/OutputPanel.vue
  src/lib/components/PostItNote.vue
  src/lib/components/ProcessingBadge.vue
  src/lib/components/SettingsPanel.vue
  src/lib/components/TPSHeader.vue
  src/lib/components/TextInput.vue
  src/lib/components/VoiceInput.vue
  src/lib/detector.ts
  src/svelte-loader.ts
Due: biome, oxlint

Refactor component imports and naming conventions for consistency
  .oxlintrc.json
  biome.json
  src/lib/components/App.vue
  src/lib/components/FlairBadge.vue
  src/lib/components/OutputPanel.vue
  src/lib/components/PostItNote.vue
  src/lib/components/ProcessingBadge.vue
  src/lib/components/SettingsPanel.vue
  src/lib/components/TPSHeader.vue
  src/lib/components/TextInput.vue
  src/lib/components/VoiceInput.vue
Due: biome

Add table-driven test harness for dictionary-mode transformations
  .beads/.gitignore
  .beads/README.md
  .beads/config.yaml
  .beads/issues.jsonl
  .beads/metadata.json
  src/lib/replacer.test.ts
Due: biome, oxlint

feat: protect URLs, @handles, and #channels from modifications
  .beads/issues.jsonl
  src/lib/detector.ts
  src/lib/replacer.test.ts
Due: biome, oxlint

feat(detector): implement sentence segmentation helper
  .beads/issues.jsonl
  src/lib/detector.test.ts
  src/lib/detector.ts
Due: biome, oxlint

Close test issue ws-4w8
  .beads/issues.jsonl
Due: none

Fix M2: collapse consecutive negative sentences
  .beads/issues.jsonl
  src/lib/detector.test.ts
  src/lib/detector.ts
  src/lib/replacer.test.ts
Due: biome, oxlint

Fix M2: collapse consecutive negative sentences
  .gitattributes
  .gitignore
  CLAUDE.md
  IMPLEMENTATION_PLAN.md
  ROADMAP.md
  debug-test.ts
  src/lib/components/App.vue
  src/lib/components/PostItNote.vue
  src/lib/components/SettingsPanel.vue
  src/lib/detector.test.ts
  src/lib/detector.ts
  src/lib/replacer.ts
Due: biome, oxlint

feat(M3): implement token-based adjacency rule engine
  .beads/issues.jsonl
  src/lib/detector.ts
  src/lib/replacer.test.ts
Due: biome, oxlint

Path conditions:
  biome: any of: *.{js,ts,jsx,tsx,json,css}
  oxlint: any of: *.{js,ts,jsx,tsx}
